root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cs]
dotnet_diagnostic.SA1507.severity = error
dotnet_diagnostic.SA1518.severity = error

[JAdmin/Migrations/**.cs]
generated_code = true
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1518.severity = none
